@model SchoolApp.Models.Course

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <header>Course details</header>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Department.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Department.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cost)
            </dd>

        </dl>
    </div>
</div>
